.who__content-pretitle{
    font-family: Lato;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9A9A9A;
    margin-bottom: 56px;
}
.who__content-title{
    text-align: center;
    margin-bottom: 25px;
}
.who__content-img{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}